.header{
background-color: #023F6A;
padding: 20px;
display: flex;
align-items: center;
justify-content: space-between;
height: 240px;
h1{
font-size: 6rem;  
color: #FFD233;
}
ul{
  display: flex;
  gap: 16px;
  a{
    color: #FFD233;
    text-decoration: none;
    &:hover{
    text-decoration: underline;
    cursor: pointer;
    }
  }
}
}